<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="stylesheet" type="text/css" href="application.css">
</head>


<body>

<h1>GeekGirlMeetup launches in San Franciscoon May 21st</h1>

We will be hosting 3 female tech entrepreneurs/developers speaking about their startup experience, highs and lows, tips and tricks. Names to be announced yet. Speakers will be open for Q&A.
 
<div>
<p><b>Venue:</b> Runway, 1355 Market street (In the Twitter building).</p>
<p><b>Time:</b> Event opens at 18pm, talks start at 6:30-8:30pm.</p>
<p><b>Cost:</b> The event is free.</p>
</div>

GeekGirlMeetup is a un-conference about web, code and startups aiming to elevate female role-models by creating new networks and active knowledge exchange. 

Who can come: the event is for ladies. Guys can come if they bring a (tech) lady.

Twitter @ggmsf 
Facebook 

GeekGirlMeetup.com exists in Sweden, Denmark, Mexico, London, Oxford, Hong-Kong and Berlin. 


</body>